# permissions for end users to view managedclustermodules.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: managedclustermodule-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: kernel-module-management
    app.kubernetes.io/part-of: kernel-module-management
    app.kubernetes.io/managed-by: kustomize
  name: managedclustermodule-viewer-role
rules:
- apiGroups:
  - kmm.sigs.x-k8s.io
  resources:
  - managedclustermodules
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kmm.sigs.x-k8s.io
  resources:
  - managedclustermodules/status
  verbs:
  - get
