apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../install-ci

patches:
- patch: |
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: controller
      namespace: system
    spec:
      template:
        spec:
          containers:
            - name: manager
              env:
                - name: KMM_MANAGED
                  value: "1"
                - name: RELATED_IMAGES_WORKER
                  value: host.minikube.internal:5000/kmm/worker:local
