---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: moduleimagesconfigs.kmm.sigs.x-k8s.io
spec:
  group: kmm.sigs.x-k8s.io
  names:
    kind: ModuleImagesConfig
    listKind: ModuleImagesConfigList
    plural: moduleimagesconfigs
    shortNames:
    - mic
    singular: moduleimagesconfig
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: ModuleImagesConfig keeps the request for images' state for a
          KMM Module.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              ModuleImagesConfigSpec describes the images of the Module whose status needs to be verified
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#spec-and-status
            properties:
              imagePullPolicy:
                default: IfNotPresent
                description: ImagePullPolicy defines the pull policy used for verifying
                  the presence of the image
                type: string
              imageRebuildTriggerGeneration:
                description: |-
                  ImageRebuildTriggerGeneration is an optional counter that, when incremented, triggers a re-verification
                  and potential rebuild of all module images. Propagated from Module.spec.imageRebuildTriggerGeneration.
                type: integer
              imageRepoSecret:
                description: ImageRepoSecret contains pull secret for the image's
                  repo, if needed
                properties:
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              images:
                items:
                  description: ModuleImageSpec describes the image whose state needs
                    to be queried
                  properties:
                    build:
                      description: Build contains build instructions, in case image
                        needs building
                      properties:
                        baseImageRegistryTLS:
                          description: BaseImageRegistryTLS contains settings determining
                            how to access registries of the base images in the build-process'
                            Dockerfile.
                          properties:
                            insecure:
                              description: If Insecure is true, the operator will
                                be able to access a registry in an insecure (plain
                                HTTP) protocol.
                              type: boolean
                            insecureSkipTLSVerify:
                              description: If InsecureSkipTLSVerify, the operator
                                will accept any certificate provided by the registry.
                              type: boolean
                          type: object
                        buildArgs:
                          description: BuildArgs is an array of build variables that
                            are provided to the image building backend.
                          items:
                            description: BuildArg represents a build argument used
                              when building a container image.
                            properties:
                              name:
                                type: string
                              value:
                                type: string
                            required:
                            - name
                            - value
                            type: object
                          type: array
                        dockerfileConfigMap:
                          description: ConfigMap that holds Dockerfile contents
                          properties:
                            name:
                              default: ""
                              description: |-
                                Name of the referent.
                                This field is effectively required, but due to backwards compatibility is
                                allowed to be empty. Instances of this type with an empty value here are
                                almost certainly wrong.
                                More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                              type: string
                          type: object
                          x-kubernetes-map-type: atomic
                        kanikoParams:
                          description: KanikoParams is used to customize the building
                            process of the image.
                          properties:
                            tag:
                              description: Kaniko image tag to use when creating the
                                build Pod
                              type: string
                          type: object
                        secrets:
                          description: |-
                            Secrets is an optional list of secrets to be made available to the build system.
                            Those secrets should be used for private resources such as a private Github repo.
                            For container registries auth use module.spec.imagePullSecret instead.
                          items:
                            description: |-
                              LocalObjectReference contains enough information to let you locate the
                              referenced object inside the same namespace.
                            properties:
                              name:
                                default: ""
                                description: |-
                                  Name of the referent.
                                  This field is effectively required, but due to backwards compatibility is
                                  allowed to be empty. Instances of this type with an empty value here are
                                  almost certainly wrong.
                                  More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                                type: string
                            type: object
                            x-kubernetes-map-type: atomic
                          type: array
                        selector:
                          additionalProperties:
                            type: string
                          description: Selector describes on which nodes will run
                            the building process.
                          type: object
                      required:
                      - dockerfileConfigMap
                      type: object
                    dirName:
                      default: /opt
                      description: DirName is the root directory for modules, used
                        during signing.
                      type: string
                    image:
                      description: image
                      type: string
                    kernelVersion:
                      description: kernel version for which this image is targeted
                      type: string
                    registryTLS:
                      description: RegistryTLS set the TLS configs for accessing the
                        registry of the image.
                      properties:
                        insecure:
                          description: If Insecure is true, the operator will be able
                            to access a registry in an insecure (plain HTTP) protocol.
                          type: boolean
                        insecureSkipTLSVerify:
                          description: If InsecureSkipTLSVerify, the operator will
                            accept any certificate provided by the registry.
                          type: boolean
                      type: object
                    sign:
                      description: Sign contains sign instructions, in case image
                        needs signing
                      properties:
                        certSecret:
                          description: a secret containing the public key used to
                            sign kernel modules for secureboot
                          properties:
                            name:
                              default: ""
                              description: |-
                                Name of the referent.
                                This field is effectively required, but due to backwards compatibility is
                                allowed to be empty. Instances of this type with an empty value here are
                                almost certainly wrong.
                                More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                              type: string
                          type: object
                          x-kubernetes-map-type: atomic
                        filesToSign:
                          description: |-
                            Paths inside the image for the kernel modules to sign.
                            Full path to explicit files are required or any globs supported by the `Ash` shell
                          items:
                            type: string
                          type: array
                        keySecret:
                          description: a secret containing the private key used to
                            sign kernel modules for secureboot
                          properties:
                            name:
                              default: ""
                              description: |-
                                Name of the referent.
                                This field is effectively required, but due to backwards compatibility is
                                allowed to be empty. Instances of this type with an empty value here are
                                almost certainly wrong.
                                More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                              type: string
                          type: object
                          x-kubernetes-map-type: atomic
                        unsignedImage:
                          description: Image to sign, ignored if a Build is present,
                            required otherwise
                          type: string
                        unsignedImageRegistryTLS:
                          description: UnsignedImageRegistryTLS contains settings
                            determining how to access registries of the unsigned image.
                          properties:
                            insecure:
                              description: If Insecure is true, the operator will
                                be able to access a registry in an insecure (plain
                                HTTP) protocol.
                              type: boolean
                            insecureSkipTLSVerify:
                              description: If InsecureSkipTLSVerify, the operator
                                will accept any certificate provided by the registry.
                              type: boolean
                          type: object
                      required:
                      - certSecret
                      - keySecret
                      type: object
                    skipWaitMissingImage:
                      description: |-
                        SkipWaitMissingImage signals to MIC to stop waiting for image to be present
                        in case Build andSign not define, and report the image as DoesNotExist
                      type: boolean
                  required:
                  - image
                  - kernelVersion
                  type: object
                type: array
              pushBuiltImage:
                description: |-
                  Boolean flag that determines whether images built must also
                  be pushed to a defined repository
                type: boolean
              tolerations:
                description: Tolerations specifies the tolerations for build/sign
                  pods.
                items:
                  description: |-
                    The pod this Toleration is attached to tolerates any taint that matches
                    the triple <key,value,effect> using the matching operator <operator>.
                  properties:
                    effect:
                      description: |-
                        Effect indicates the taint effect to match. Empty means match all taint effects.
                        When specified, allowed values are NoSchedule, PreferNoSchedule and NoExecute.
                      type: string
                    key:
                      description: |-
                        Key is the taint key that the toleration applies to. Empty means match all taint keys.
                        If the key is empty, operator must be Exists; this combination means to match all values and all keys.
                      type: string
                    operator:
                      description: |-
                        Operator represents a key's relationship to the value.
                        Valid operators are Exists and Equal. Defaults to Equal.
                        Exists is equivalent to wildcard for value, so that a pod can
                        tolerate all taints of a particular category.
                      type: string
                    tolerationSeconds:
                      description: |-
                        TolerationSeconds represents the period of time the toleration (which must be
                        of effect NoExecute, otherwise this field is ignored) tolerates the taint. By default,
                        it is not set, which means tolerate the taint forever (do not evict). Zero and
                        negative values will be treated as 0 (evict immediately) by the system.
                      format: int64
                      type: integer
                    value:
                      description: |-
                        Value is the taint value the toleration matches to.
                        If the operator is Exists, the value should be empty, otherwise just a regular string.
                      type: string
                  type: object
                type: array
            type: object
          status:
            description: |-
              ModuleImagesConfigStatus describes the status of the images that need to be verified (defined in the spec)
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#spec-and-status
            properties:
              imageRebuildTriggerGeneration:
                description: |-
                  ImageRebuildTriggerGeneration contains the last value of spec.imageRebuildTriggerGeneration that was applied.
                  When spec.imageRebuildTriggerGeneration differs from this value, all image statuses will be cleared
                  to trigger re-verification and potential rebuilds.
                type: integer
              imagesStates:
                items:
                  properties:
                    image:
                      description: image
                      type: string
                    status:
                      description: |-
                        status of the image
                        one of: Exists, notExists
                      type: string
                  required:
                  - image
                  - status
                  type: object
                type: array
            required:
            - imagesStates
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
